body {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  background-color: rgb(177, 180, 180);
  font-family: 'Press Start 2P',
    cursive;

}

.main {
  display: flex;
  flex-direction: row;
}

.right {
  background-image: linear-gradient(to right bottom, #3f3e61c5, #818285e8),
    url('../img/johnny.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: 400px;
  border-radius: 10px;
  border-style: solid 3px;
}

.left {
  background-image: linear-gradient(to right bottom, #3f3e61c5, #818285e8),
    url('../img/bodhi.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: 400px;
  border-radius: 10px;
}